<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>Registration</h1>
    <form action="/register" method="post">
      <p>
        Name: <input type="text" name="name">
      </p>
      <p>
        Alias: <input type="text" name="alias">
      </p>
      <p>
        Email: <input type="text" name="email">
      </p>
      <p>
        Password: <input type="text" name="password">
      </p>
      <p>
        Confirm Password: <input type="text" name="conf_password">
      </p>
      <p>Date of Birth: <input type="date" name="dob"></p>
      <p>
        <input type="submit" value="Register">
      </p>
    </form>
    <br>
    <hr>
    <br>
    <h1>Login</h1>
    <form action="/login" method="post">
      <p>
        Email: <input type="text" name="email" >
      </p>
      <p>
        Password: <input type="text" name="password" >
      </p>
      <p>
        <input type="submit" value="Login" >
      </p>
    </form>
  </body>
</html>
